# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
Pipfile.lock

# Environments
venv/
venv.bak/
env/

# logs
archived_logs/
latest_logs/
*.log

# local
secrets/
.vscode
